$smartphone: ( max-width: 480px, );
.bg-img {
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    @media #{$smartphone} {
        background-image: url('../../assets/images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
    }
    .layout-login {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        min-width: 100%;
        min-height: 100%;
    }
}