.bg-img {
    background-image: url('https://i.pinimg.com/originals/ae/f8/ee/aef8ee3342902cb9a09ee05c7a4e86cf.png');
    background-repeat: no-repeat;
    background-size: cover;
    .layout-login {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15% 30% 15% 30%;
    }
}